
.pokemon-images img{
    
    position: relative;
    width: 17rem;
    top: 60vh;
    left: 7vw;
    
}




.hud {
    width: 100%;
    height: auto;

    position: absolute;
    top: 0;
    left: 0;
}

.favoritosh1{

    color: black;
    position: absolute;
    left: 45vw;
    top: 15vh;
    height: 3.5rem;
}

.favoritesPage h1 {
font-size: 3rem;
}

.homeButtonFav{
    position: absolute;
    left: 5vw;
    top: 19vh;

  }