

body {
    background: linear-gradient(rgb(0, 130, 136), black);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(201, 201, 201);
    font-family: "Vazirmatn", sans-serif;
    
}

body.customBackground {
    background: linear-gradient(rgb(0, 130, 136), black);
}