@font-face {
    font-family: 'pokemonFont';
    src: url('./assets/font/PokemonFont.ttf');
}

body {
    background: linear-gradient(rgb(0, 130, 136), black);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(201, 201, 201);
    font-family: 'pokemonFont', sans-serif;
    
}